# Exploring Ebay Car Sales Data

In this project, we'll work with a dataset of used cars from eBay Kleinanzeigen, a [classifieds](https://en.wikipedia.org/wiki/Classified_advertising) section of the German eBay website.

The dataset was originally [scraped](https://en.wikipedia.org/wiki/Web_scraping) and uploaded to [Kaggle](https://www.kaggle.com/orgesleka/used-cars-database/data). A few modifications were made by [Dataquest](https://www.dataquest.io/) to the original dataset that was uploaded to Kaggle:

- The dataset was trimmed down to 50,000 data points from the full dataset
- The dataset was dirtied a bit to more closely resemble what could be expected from a scraped dataset (the version uploaded to Kaggle was cleaned to be easier to work with)

This was done to allow data scientists to put into use their data cleaning skills.

The aim of this project is to clean the data and analyze the included used car listings.

### Summary of Results
After analyzing the data, we reached the conclusion that the top 6 most listed car brands vary greatly in their prices. The Mercedes Benz cars were listed for an average price of about 8 800 whereas the Opel cars were listed for about 3 400. Their mileage was not a factor that affected the price of these brands.

Moreover, we observed that there were 3 times as many manual transmission cars than automatic transmission cars listed and that the mean price of automatic transmission cars in this dataset was more than twice as high than that of manual transmission cars.

Finally, we also observed that around 8% of the cars listed had unrepaired damage. The average price of damaged cars wass almost 4 times lower than that of undamaged cars.

For more details, please refer to the the full analysis below.

## Reading in the Dataset

In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv',encoding='Latin-1') # UTF-8 raised an error

We can now visualize the first and last couple of rows:

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,"$7,900",test,bus,2006,automatik,150,voyager,"150,000km",4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
6,2016-03-20 17:55:21,VW_Golf_III_GT_Special_Electronic_Green_Metall...,privat,Angebot,$300,test,limousine,1995,manuell,90,golf,"150,000km",8,benzin,volkswagen,NaN,2016-03-20 00:00:00,0,31535,2016-03-23 02:48:59
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,"$1,990",control,limousine,1998,manuell,90,golf,"150,000km",12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
8,2016-03-22 16:51:34,Seat_Arosa,privat,Angebot,$250,test,NaN,2000,manuell,0,arosa,"150,000km",10,NaN,seat,nein,2016-03-22 00:00:00,0,7426,2016-03-26 18:18:10
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,$590,control,bus,1997,manuell,90,megane,"150,000km",7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,$999,test,NaN,2017,manuell,90,NaN,"150,000km",4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
11,2016-03-16 18:45:34,Mercedes_A140_Motorschaden,privat,Angebot,$350,control,NaN,2000,NaN,0,NaN,"150,000km",0,benzin,mercedes_benz,NaN,2016-03-16 00:00:00,0,17498,2016-03-16 18:45:34
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,"$5,299",control,kleinwagen,2010,automatik,71,fortwo,"50,000km",9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52
13,2016-03-23 10:48:32,Audi_A3_1.6_tuning,privat,Angebot,"$1,350",control,limousine,1999,manuell,101,a3,"150,000km",11,benzin,audi,nein,2016-03-23 00:00:00,0,12043,2016-04-01 14:17:13
14,2016-03-23 11:50:46,Renault_Clio_3__Dynamique_1.2__16_V;_viele_Ver...,privat,Angebot,"$3,999",test,kleinwagen,2007,manuell,75,clio,"150,000km",9,benzin,renault,NaN,2016-03-23 00:00:00,0,81737,2016-04-01 15:46:47
15,2016-04-01 12:06:20,Corvette_C3_Coupe_T_Top_Crossfire_Injection,privat,Angebot,"$18,900",test,coupe,1982,automatik,203,NaN,"80,000km",6,benzin,sonstige_autos,nein,2016-04-01 00:00:00,0,61276,2016-04-02 21:10:48
16,2016-03-16 14:59:02,Opel_Vectra_B_Kombi,privat,Angebot,$350,test,kombi,1999,manuell,101,vectra,"150,000km",5,benzin,opel,nein,2016-03-16 00:00:00,0,57299,2016-03-18 05:29:37
17,2016-03-29 11:46:22,Volkswagen_Scirocco_2_G60,privat,Angebot,"$5,500",test,coupe,1990,manuell,205,scirocco,"150,000km",6,benzin,volkswagen,nein,2016-03-29 00:00:00,0,74821,2016-04-05 20:46:26
18,2016-03-26 19:57:44,Verkaufen_mein_bmw_e36_320_i_touring,privat,Angebot,$300,control,bus,1995,manuell,150,3er,"150,000km",0,benzin,bmw,NaN,2016-03-26 00:00:00,0,54329,2016-04-02 12:16:41
19,2016-03-17 13:36:21,mazda_tribute_2.0_mit_gas_und_tuev_neu_2018,privat,Angebot,"$4,150",control,suv,2004,manuell,124,andere,"150,000km",2,lpg,mazda,nein,2016-03-17 00:00:00,0,40878,2016-03-17 14:45:58
20,2016-03-05 19:57:31,Audi_A4_Avant_1.9_TDI_*6_Gang*AHK*Klimatronik*...,privat,Angebot,"$3,500",test,kombi,2003,manuell,131,a4,"150,000km",5,diesel,audi,NaN,2016-03-05 00:00:00,0,53913,2016-03-07 05:46:46
21,2016-03-06 19:07:10,Porsche_911_Carrera_4S_Cabrio,privat,Angebot,"$41,500",test,cabrio,2004,manuell,320,911,"150,000km",4,benzin,porsche,nein,2016-03-06 00:00:00,0,65428,2016-04-05 23:46:19
22,2016-03-28 20:50:54,MINI_Cooper_S_Cabrio,privat,Angebot,"$25,450",control,cabrio,2015,manuell,184,cooper,"10,000km",1,benzin,mini,nein,2016-03-28 00:00:00,0,44789,2016-04-01 06:45:30
23,2016-03-10 19:55:34,Peugeot_Boxer_2_2_HDi_120_Ps_9_Sitzer_inkl_Klima,privat,Angebot,"$7,999",control,bus,2010,manuell,120,NaN,"150,000km",2,diesel,peugeot,nein,2016-03-10 00:00:00,0,30900,2016-03-17 08:45:17
24,2016-04-03 11:57:02,BMW_535i_xDrive_Sport_Aut.,privat,Angebot,"$48,500",control,limousine,2014,automatik,306,5er,"30,000km",12,benzin,bmw,nein,2016-04-03 00:00:00,0,22547,2016-04-07 13:16:50
25,2016-03-21 21:56:18,Ford_escort_kombi_an_bastler_mit_ghia_ausstattung,privat,Angebot,$90,control,kombi,1996,manuell,116,NaN,"150,000km",4,benzin,ford,ja,2016-03-21 00:00:00,0,27574,2016-04-01 05:16:49
26,2016-04-03 22:46:28,Volkswagen_Polo_Fox,privat,Angebot,$777,control,kleinwagen,1992,manuell,54,polo,"125,000km",2,benzin,volkswagen,nein,2016-04-03 00:00:00,0,38110,2016-04-05 23:46:48
27,2016-03-27 18:45:01,Hat_einer_Ahnung_mit_Ford_Galaxy_HILFE,privat,Angebot,$0,control,NaN,2005,NaN,0,NaN,"150,000km",0,NaN,ford,NaN,2016-03-27 00:00:00,0,66701,2016-03-27 18:45:01
28,2016-03-19 21:56:19,MINI_Cooper_D,privat,Angebot,"$5,250",control,kleinwagen,2007,manuell,110,cooper,"150,000km",7,diesel,mini,ja,2016-03-19 00:00:00,0,15745,2016-04-07 14:58:48
29,2016-04-02 12:45:44,Mercedes_Benz_E_320_T_CDI_Avantgarde_DPF7_Sitz...,privat,Angebot,"$4,999",test,kombi,2004,automatik,204,e_klasse,"150,000km",10,diesel,mercedes_benz,nein,2016-04-02 00:00:00,0,47638,2016-04-02 12:45:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,2016-03-21 22:47:37,c4_Grand_Picasso_mit_Automatik_Leder_Navi_Temp...,privat,Angebot,"$15,800",control,bus,2010,automatik,136,c4,"60,000km",4,diesel,citroen,nein,2016-03-21 00:00:00,0,14947,2016-04-07 04:17:34
49971,2016-03-29 14:54:12,W.Lupo_1.0,privat,Angebot,$950,test,kleinwagen,2001,manuell,50,lupo,"150,000km",4,benzin,volkswagen,nein,2016-03-29 00:00:00,0,65197,2016-03-29 20:41:51
49972,2016-03-26 22:25:23,Mercedes_Benz_Vito_115_CDI_Extralang_Aut.,privat,Angebot,"$3,300",control,bus,2004,automatik,150,vito,"150,000km",10,diesel,mercedes_benz,ja,2016-03-26 00:00:00,0,65326,2016-03-28 11:28:18
49973,2016-03-27 05:32:39,Mercedes_Benz_SLK_200_Kompressor,privat,Angebot,"$6,000",control,cabrio,2004,manuell,163,slk,"150,000km",11,benzin,mercedes_benz,nein,2016-03-27 00:00:00,0,53567,2016-03-27 08:25:24
49974,2016-03-20 10:52:31,Golf_1_Cabrio_Tuev_Neu_viele_Extras_alles_eing...,privat,Angebot,$0,control,cabrio,1983,manuell,70,golf,"150,000km",2,benzin,volkswagen,nein,2016-03-20 00:00:00,0,8209,2016-03-27 19:48:16
49975,2016-03-27 20:51:39,Honda_Jazz_1.3_DSi_i_VTEC_IMA_CVT_Comfort,privat,Angebot,"$9,700",control,kleinwagen,2012,automatik,88,jazz,"100,000km",11,hybrid,honda,nein,2016-03-27 00:00:00,0,84385,2016-04-05 19:45:34
49976,2016-03-19 18:56:05,Audi_80_Avant_2.6_E__Vollausstattung!!_Einziga...,privat,Angebot,"$5,900",test,kombi,1992,automatik,150,80,"150,000km",12,benzin,audi,nein,2016-03-19 00:00:00,0,36100,2016-04-07 06:16:44
49977,2016-03-31 18:37:18,Mercedes_Benz_C200_Cdi_W203,privat,Angebot,"$5,500",control,limousine,2003,manuell,116,c_klasse,"150,000km",2,diesel,mercedes_benz,nein,2016-03-31 00:00:00,0,33739,2016-04-06 12:16:11
49978,2016-04-04 10:37:14,Mercedes_Benz_E_200_Classic,privat,Angebot,$900,control,limousine,1996,automatik,136,e_klasse,"150,000km",9,benzin,mercedes_benz,ja,2016-04-04 00:00:00,0,24405,2016-04-06 12:44:20
49979,2016-03-20 18:38:40,Volkswagen_Polo_1.6_TDI_Style,privat,Angebot,"$11,000",test,kleinwagen,2011,manuell,90,polo,"70,000km",11,diesel,volkswagen,nein,2016-03-20 00:00:00,0,48455,2016-04-07 01:45:12
49980,2016-03-12 10:55:54,Ford_Escort_Turnier_16V,privat,Angebot,$400,control,kombi,1995,manuell,105,escort,"125,000km",3,benzin,ford,NaN,2016-03-12 00:00:00,0,56218,2016-04-06 17:16:49
49981,2016-03-15 09:38:21,Opel_Astra_Kombi_mit_Anhaengerkupplung,privat,Angebot,"$2,000",control,kombi,1998,manuell,115,astra,"150,000km",12,benzin,opel,nein,2016-03-15 00:00:00,0,86859,2016-04-05 17:21:46
49982,2016-03-29 18:51:08,Skoda_Fabia_4_Tuerer_Bj:2004__85.000Tkm,privat,Angebot,"$1,950",control,kleinwagen,2004,manuell,0,fabia,"90,000km",7,benzin,skoda,NaN,2016-03-29 00:00:00,0,45884,2016-03-29 18:51:08
49983,2016-03-06 12:43:04,Ford_focus_99,privat,Angebot,$600,test,kleinwagen,1999,manuell,101,focus,"150,000km",4,benzin,ford,NaN,2016-03-06 00:00:00,0,52477,2016-03-09 06:16:08
49984,2016-03-31 22:48:48,Student_sucht_ein__Anfaengerauto___ab_2000_BJ_...,privat,Angebot,$0,test,NaN,2000,NaN,0,NaN,"150,000km",0,NaN,sonstige_autos,NaN,2016-03-31 00:00:00,0,12103,2016-04-02 19:44:53
49985,2016-04-02 16:38:23,Verkaufe_meinen_vw_vento!,privat,Angebot,"$1,000",control,NaN,1995,automatik,0,NaN,"150,000km",0,benzin,volkswagen,NaN,2016-04-02 00:00:00,0,30900,2016-04-06 15:17:52
49986,2016-04-04 20:46:02,Chrysler_300C_3.0_CRD_DPF_Automatik_Voll_Ausst...,privat,Angebot,"$15,900",control,limousine,2010,automatik,218,300c,"125,000km",11,diesel,chrysler,nein,2016-04-04 00:00:00,0,73527,2016-04-06 23:16:00
49987,2016-03-22 20:47:27,Audi_A3_Limousine_2.0_TDI_DPF_Ambition__NAVI__...,privat,Angebot,"$21,990",control,limousine,2013,manuell,150,a3,"50,000km",11,diesel,audi,nein,2016-03-22 00:00:00,0,94362,2016-03-26 22:46:06
49988,2016-03-28 19:49:51,BMW_330_Ci,privat,Angebot,"$9,550",control,coupe,2001,manuell,231,3er,"150,000km",10,benzin,bmw,nein,2016-03-28 00:00:00,0,83646,2016-04-07 02:17:40
49989,2016-03-11 19:50:37,VW_Polo_zum_Ausschlachten_oder_Wiederaufbau,privat,Angebot,$150,test,kleinwagen,1997,manuell,0,polo,"150,000km",5,benzin,volkswagen,ja,2016-03-11 00:00:00,0,21244,2016-03-12 10:17:55
49990,2016-03-21 19:54:19,Mercedes_Benz_A_200__BlueEFFICIENCY__Urban,privat,Angebot,"$17,500",test,limousine,2012,manuell,156,a_klasse,"30,000km",12,benzin,mercedes_benz,nein,2016-03-21 00:00:00,0,58239,2016-04-06 22:46:57
49991,2016-03-06 15:25:19,Kleinwagen,privat,Angebot,$500,control,NaN,2016,manuell,0,twingo,"150,000km",0,benzin,renault,NaN,2016-03-06 00:00:00,0,61350,2016-03-06 18:24:19
49992,2016-03-10 19:37:38,Fiat_Grande_Punto_1.4_T_Jet_16V_Sport,privat,Angebot,"$4,800",control,kleinwagen,2009,manuell,120,andere,"125,000km",9,lpg,fiat,nein,2016-03-10 00:00:00,0,68642,2016-03-13 01:44:51
49993,2016-03-15 18:47:35,Audi_A3__1_8l__Silber;_schoenes_Fahrzeug,privat,Angebot,"$1,650",control,kleinwagen,1997,manuell,0,NaN,"150,000km",7,benzin,audi,NaN,2016-03-15 00:00:00,0,65203,2016-04-06 19:46:53
49994,2016-03-22 17:36:42,Audi_A6__S6__Avant_4.2_quattro_eventuell_Tausc...,privat,Angebot,"$5,000",control,kombi,2001,automatik,299,a6,"150,000km",1,benzin,audi,nein,2016-03-22 00:00:00,0,46537,2016-04-06 08:16:39
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÃœV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

The data dictionary provided with data is as follows:

- `dateCrawled` - When this ad was first crawled. All field-values are taken from this date.
- `name` - Name of the car.
- `seller` - Whether the seller is private or a dealer.
- `offerType` - The type of listing
- `price` - The price on the ad to sell the car.
- `abtest` - Whether the listing is included in an A/B test.
- `vehicleType` - The vehicle Type.
- `yearOfRegistration` - The year in which the car was first registered.
- `gearbox` - The transmission type.
- `powerPS` - The power of the car in PS.
- `model` - The car model name.
- `kilometer` - How many kilometers the car has driven.
- `monthOfRegistration` - The month in which the car was first registered.
- `fuelType` - What type of fuel the car uses.
- `brand` - The brand of the car.
- `notRepairedDamage` - If the car has a damage which is not yet repaired.
- `dateCreated` - The date on which the eBay listing was created.
- `nrOfPictures` - The number of pictures in the ad.
- `postalCode` - The postal code for the location of the vehicle.
- `lastSeenOnline` - When the crawler saw this ad last online.

Using the pandas `.info()` and `.head()` methods, we can get more information about the autos dataframe and its first few rows:

In [3]:
autos.info()

autos.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

At first glance, we notice that the dataset contains 20 columns, most of which are of `dtype` 'object', meaning strings.

There are several columns with missing values (never more than 20% null values), the one with the most missing values being 'notRepairedDamage'. This is understandable as there should only be a value if the car has a damage which is not yet repaired. Looking at the first couple of rows, we notice that most of the listings have entered 'nein' (no) in that field.

Some fields such as 'price' is of `dtype` 'object' and we notice that this is because of the '$' sign. This is something we will surely have to modify in order to better analyze the data.

We also notice that the column names might be difficult to reference because they use [camelcase](https://en.wikipedia.org/wiki/Camel_case) instead of Python's preferred [snakecase](https://en.wikipedia.org/wiki/Snake_case). We will have to convert the column names to snakecase and reword some of them based on the data dictionary to be more descriptive.

## Cleaning Column Names

In [4]:
autos.columns # Print the existing column names

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
# Make edits to column names - camelcase to snakecase
new_cols = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test','vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model','odometer', 'registration_month', 'fuel_type', 'brand','unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code','last_seen'] 

# Assign modified column names back to the columns attribute
autos.columns = new_cols

Other than the camelcase to snakecase conversions, other changes were made to ensure clarity in our column names:

- `yearOfRegistration` to `registration_year`
- `monthOfRegistration` to `registration_month`
- `notRepairedDamage` to `unrepaired_damage`
- `dateCreated` to `ad_created`

Let's look at the current state of the `autos` dataframe.

In [6]:
autos.head()

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

## Exploring the Dataset

We can now start doing some basic data exploration to determine what other cleaning tasks need to be done. Initially we will look for: 

- Text columns where all or almost all values are the same. These can often be dropped as they don't have useful information for analysis.
- Examples of numeric data stored as text which can be cleaned and converted.

To start off, we can use the `describe()` and `value_counts()` methods.

In [7]:
autos.describe(include="all") # To get both categorical and numeric columns

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-29 23:42:13,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

#### Determining Columns to Drop

First, we can determine which columns have mostly one value and are candidates to be dropped:

- `seller`: only has 2 unique values, 4999 of which have a value of 'privat'
- `offer_type`: also only has 2 unique values, 4999 of which have a value of 'Angebot'
- `ab_test`: although it only has 2 unique values, there can really only be 2 possible values. We will not remove this one.
- `gearbox`: same as `ab_test`
- `unrepaired_damage`: needs more investigation before dropping, still unclear what this column contains

To explore the `unrepaired_damage` column, we can use the `value_counts()` method:

In [8]:
autos["unrepaired_damage"].value_counts()

nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64

It is clear that this column will be important to keep in order to determine whether cars are listed with a damage to be repaired or not.

#### Determining Columns to Clean

Next, we will check the columns that have numeric data stored as text that need to be cleaned:

- `price`: appears to be stored as text because of the '$' sign.
- `odometer`: appears to be stored as text because of the 'km' value

Before modifying these columns, we can explore them individually using the `head()` method:

In [9]:
autos["price"].head()

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

In [10]:
autos["odometer"].head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

The `price` column appears to contain text values such as '$', commas and spaces.

The `odometer` column appears to contain text values such as 'km', commas and spaces.

## Cleaning Dataset

We can now remove all non-numeric characters and convert the columns to a numeric dtype:

In [11]:
# Last method allows to convert to float values

autos["price"] = autos["price"].str.replace(' ', '').str.replace('$', '').str.replace(',', '').astype(float)      

autos["odometer"] = autos["odometer"].str.replace(' ', '').str.replace('km', '').str.replace(',', '').astype(float)

To ensure that our changes do not confuse us in the future, we have to rename the `odometer` column name:

In [12]:
autos.rename(columns={'odometer' : 'odometer_km'}, inplace=True)

Let's continue exploring the data, specifically looking for data that doesn't look right. We'll start by analyzing the `odometer_km` and `price` columns even more in depth. Using minimum and maximum values we will look for any values that look unrealistically high or low (outliers) that we might want to remove.

In [13]:
# Checking how many unique values there are
print(autos["price"].unique().shape)
print('\n')
print(autos["odometer_km"].unique().shape)

(2357,)


(13,)

There is quite a low number of unique values in the `odometer_km` column.

In [14]:
# Checking min/max/median/mean etc
print(autos["price"].describe())
print('\n')
print(autos["odometer_km"].describe())

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64


count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

The `price` column seems to have extremely high maximum values and some '0' values which are most likely bad entries, whereas the `odometer_km` column seems to be within a normal range.

In [15]:
# Checking counts of unique values
print(autos["price"].value_counts().sort_index(ascending=True).head(n=10),'\n\n') # Showing from lowest to highest unique value counts
print(autos["price"].value_counts().sort_index(ascending=False).head(n=10),'\n\n') # Showing from highest to lowest unique value counts
print(autos["odometer_km"].value_counts().sort_index(ascending=True).head(),'\n\n')
print(autos["odometer_km"].value_counts().sort_index(ascending=False).head(),'\n\n')

0.0     1421
1.0      156
2.0        3
3.0        1
5.0        2
8.0        1
9.0        1
10.0       7
11.0       2
12.0       3
Name: price, dtype: int64


99999999.0    1
27322222.0    1
12345678.0    3
11111111.0    2
10000000.0    1
3890000.0     1
1300000.0     1
1234566.0     1
999999.0      2
999990.0      1
Name: price, dtype: int64


5000.0     967
10000.0    264
20000.0    784
30000.0    789
40000.0    819
Name: odometer_km, dtype: int64


150000.0    32424
125000.0     5170
100000.0     2169
90000.0      1757
80000.0      1436
Name: odometer_km, dtype: int64

#### Cleaning the 'Price' Column

We observe that the `price` column has **many** outliers. It will be important to clear them out in order to not skew our data unintentionally.

Before removing these outliers, we have to select objective values in order to define an acceptable price range that used cars would be sold at. Although we are unsure about the currency listed on our dataset (even though the dollar sign was used, we cannot be sure that these prices are not originally in euros), we can use a website such as the [Car Gurus website](https://www.cargurus.com/Cars/forsale) to determine an acceptable price range for our used cars. The lowest possible values seem to be set at `$1000` and the highest value at `$200,000`. To make sure we don't exclude listings that will considerably impact our analysis, we can define a minimum of `$500` and a maximum of `$500,000`.

We can now proceed to removing outliers.

In [16]:
# Assigning the cleaned dataset back to 'autos'
autos = autos[autos["price"].between(500,500000)]

# Exploring the top 10 rows
print('Top 10 Rows\n') 
autos.head(n=10)

Top 10 Rows

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000.0,control,bus,2004,manuell,158,andere,150000.0,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500.0,control,limousine,1997,automatik,286,7er,150000.0,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990.0,test,limousine,2009,manuell,102,golf,70000.0,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350.0,control,kleinwagen,2007,automatik,71,fortwo,70000.0,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÃœV_neu_ist_sehr_gepfleg...,privat,Angebot,1350.0,test,kombi,2003,manuell,0,focus,150000.0,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
5,2016-03-21 13:47:45,Chrysler_Grand_Voyager_2.8_CRD_Aut.Limited_Sto...,privat,Angebot,7900.0,test,bus,2006,automatik,150,voyager,150000.0,4,diesel,chrysler,NaN,2016-03-21 00:00:00,0,22962,2016-04-06 09:45:21
7,2016-03-16 18:55:19,Golf_IV_1.9_TDI_90PS,privat,Angebot,1990.0,control,limousine,1998,manuell,90,golf,150000.0,12,diesel,volkswagen,nein,2016-03-16 00:00:00,0,53474,2016-04-07 03:17:32
9,2016-03-16 13:47:02,Renault_Megane_Scenic_1.6e_RT_Klimaanlage,privat,Angebot,590.0,control,bus,1997,manuell,90,megane,150000.0,7,benzin,renault,nein,2016-03-16 00:00:00,0,15749,2016-04-06 10:46:35
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,999.0,test,NaN,2017,manuell,90,NaN,150000.0,4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
12,2016-03-31 19:48:22,Smart_smart_fortwo_coupe_softouch_pure_MHD_Pan...,privat,Angebot,5299.0,control,kleinwagen,2010,automatik,71,fortwo,50000.0,9,benzin,smart,nein,2016-03-31 00:00:00,0,34590,2016-04-06 14:17:52

In [17]:
# Exploring lowest unique values
print('Lowest Unique Value Counts\n') 
print(autos["price"].value_counts().sort_index(ascending=True).head(n=10))

Lowest Unique Value Counts

500.0    781
501.0      1
510.0      2
517.0      1
520.0      8
525.0      4
530.0      8
540.0      2
549.0     13
550.0    356
Name: price, dtype: int64

In [18]:
# Exploring highest unique values
print('Highest Unique Value Counts\n') 
print(autos["price"].value_counts().sort_index(ascending=False).head(n=10))

Highest Unique Value Counts

350000.0    1
345000.0    1
299000.0    1
295000.0    1
265000.0    1
259000.0    1
250000.0    1
220000.0    1
198000.0    1
197000.0    1
Name: price, dtype: int64

Taking a look at the data, we notice that the `price` column finally seems to be cleaned up properly.

#### Exploring the Date Columns

Let's now move on to the date columns and understand the date range the data covers. There are 5 columns that represent date values. Some of these columns were created by the crawler, some came from the website itself. We can differentiate by referring to the data dictionary:

- `date_crawled`: added by the crawler
- `last_seen`: added by the crawler
- `ad_created`: from the website
- `registration_month`: from the website
- `registration_year`: from the website

Right now, the `date_crawled`, `last_seen`, and `ad_created` columns are all identified as string values by pandas. Because these three columns are represented as strings, we need to convert the data into a numerical representation so we can understand it quantitatively. The other two columns are represented as numeric values, so we can use methods like `describe()` to understand the distribution without any extra data processing.

Let's first understand how the values in the three string columns are formatted. These columns all represent full timestamp values, like so:

In [19]:
# Print first 5 rows of these columns
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

The first 10 string values in these columns represent the date. In order to understand the date range, we can extract just the date values, use `value_counts()` to generate a distribution, and then sort by the index.

To select the first 10 characters in each column, we can use `Series.str[:10]`.

#### Distribution of Crawl Dates

In [20]:
# Combining methods to view distribution of crawl dates
autos["date_crawled"].str[:10].value_counts(normalize=True, dropna=False).sort_index() # sort_index allows to view from earliest to latest date

2016-03-05    0.025567
2016-03-06    0.014125
2016-03-07    0.036189
2016-03-08    0.033173
2016-03-09    0.032907
2016-03-10    0.032707
2016-03-11    0.033018
2016-03-12    0.037320
2016-03-13    0.015522
2016-03-14    0.036300
2016-03-15    0.034016
2016-03-16    0.029359
2016-03-17    0.031155
2016-03-18    0.012883
2016-03-19    0.034747
2016-03-20    0.038073
2016-03-21    0.037741
2016-03-22    0.033018
2016-03-23    0.032397
2016-03-24    0.028982
2016-03-25    0.031089
2016-03-26    0.032641
2016-03-27    0.031177
2016-03-28    0.034836
2016-03-29    0.033262
2016-03-30    0.033328
2016-03-31    0.031665
2016-04-01    0.033905
2016-04-02    0.035767
2016-04-03    0.038827
2016-04-04    0.036610
2016-04-05    0.013172
2016-04-06    0.003171
2016-04-07    0.001353
Name: date_crawled, dtype: float64

The crawl dates seem to be evenly distributed (between 1% and 4% each) until the last 2 listed crawl dates. The programmer allowed their bot to crawl the data daily during a full month, from March 2016 to April 2016.

#### Distribution of Ad Posting Dates

In [21]:
# Combining methods to view distribution of post dates
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).sort_index() # sort_index allows to view from earliest to latest date

2015-06-11    0.000022
2015-08-10    0.000022
2015-09-09    0.000022
2015-11-10    0.000022
2015-12-05    0.000022
2015-12-30    0.000022
2016-01-03    0.000022
2016-01-07    0.000022
2016-01-10    0.000044
2016-01-13    0.000022
2016-01-14    0.000022
2016-01-16    0.000022
2016-01-22    0.000022
2016-01-27    0.000067
2016-01-29    0.000022
2016-02-01    0.000022
2016-02-02    0.000044
2016-02-05    0.000044
2016-02-07    0.000022
2016-02-08    0.000022
2016-02-09    0.000022
2016-02-11    0.000022
2016-02-12    0.000044
2016-02-14    0.000044
2016-02-16    0.000022
2016-02-17    0.000022
2016-02-18    0.000044
2016-02-19    0.000067
2016-02-20    0.000044
2016-02-21    0.000044
                ...
2016-03-09    0.032996
2016-03-10    0.032441
2016-03-11    0.033328
2016-03-12    0.037098
2016-03-13    0.016963
2016-03-14    0.034880
2016-03-15    0.033794
2016-03-16    0.029847
2016-03-17    0.030822
2016-03-18    0.013504
2016-03-19    0.033616
2016-03-20    0.038207
2016-03-21    0.037963
2016-03-22    0.032774
2016-03-23    0.032219
2016-03-24    0.028960
2016-03-25    0.031244
2016-03-26    0.032641
2016-03-27    0.031133
2016-03-28    0.034880
2016-03-29    0.033239
2016-03-30    0.033195
2016-03-31    0.031732
2016-04-01    0.033838
2016-04-02    0.035457
2016-04-03    0.039049
2016-04-04    0.036987
2016-04-05    0.011908
2016-04-06    0.003260
2016-04-07    0.001197
Name: ad_created, Length: 76, dtype: float64

The ads crawled were created between June 2015 and April 2016. The majority of them seem to have been created during the crawling period. We can check this using a variation of our method chaining:

In [22]:
# Combining methods to view distribution of post dates
autos["ad_created"].str[:10].value_counts(normalize=True, dropna=False).head(n=10) # sort_index allows to view from earliest to latest date

2016-04-03    0.039049
2016-03-20    0.038207
2016-03-21    0.037963
2016-03-12    0.037098
2016-04-04    0.036987
2016-04-02    0.035457
2016-03-07    0.034903
2016-03-28    0.034880
2016-03-14    0.034880
2016-04-01    0.033838
Name: ad_created, dtype: float64

This indeed appears to be the case. Most of the ads that were crawled by the bot were posted during the crawling period.

#### Distribution of Last Seen Column

In [23]:
# Combining methods to view distribution of last seen dates
autos["last_seen"].str[:10].value_counts(normalize=True, dropna=False).sort_index() # sort_index allows to view from earliest to latest date

2016-03-05    0.001087
2016-03-06    0.004169
2016-03-07    0.005211
2016-03-08    0.007007
2016-03-09    0.009468
2016-03-10    0.010289
2016-03-11    0.012041
2016-03-12    0.023904
2016-03-13    0.008870
2016-03-14    0.012285
2016-03-15    0.015677
2016-03-16    0.016165
2016-03-17    0.027674
2016-03-18    0.007406
2016-03-19    0.015411
2016-03-20    0.020423
2016-03-21    0.020667
2016-03-22    0.021243
2016-03-23    0.018405
2016-03-24    0.019536
2016-03-25    0.018582
2016-03-26    0.016476
2016-03-27    0.015456
2016-03-28    0.020534
2016-03-29    0.021354
2016-03-30    0.024148
2016-03-31    0.023438
2016-04-01    0.022862
2016-04-02    0.024880
2016-04-03    0.024946
2016-04-04    0.024303
2016-04-05    0.126616
2016-04-06    0.225314
2016-04-07    0.134155
Name: last_seen, dtype: float64

The `last_seen` column indicates when the crawler last saw the ad online. Understandably, ads posted during most recent dates of crawling period constitute the majority of the ads last seen online.

#### Distribution of Registration Year

In [24]:
autos["registration_year"].describe()

count    45097.000000
mean      2005.064173
std         89.652017
min       1000.000000
25%       2000.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

We immediately observe that there are outliers in this column as a car may not have possibly been registered in the year 1000 or 9999. On the other hand, we observe that cars posted on this classifield were on average registered around 2005.

#### Cleaning Registration Year Column

Because a car can't be first registered after the listing was seen, any vehicle with a registration year above 2016 is definitely inaccurate. Determining the earliest valid year is more difficult. Realistically, it could be somewhere in the first few decades of the 1900s.

Let's count the number of listings with cars that fall outside the 1900 - 2016 interval and see if it's safe to remove those rows entirely, or if we need more custom logic.

In [25]:
# Counting values lower than 1900 and higher than 2016
autos[(autos["registration_year"] <1900) | (autos["registration_year"] >2016)] # Using pandas OR statement to include both

,date_crawled,name,seller,offer_type,price,ab_test,vehicle_type,registration_year,gearbox,power_ps,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
10,2016-03-15 01:41:36,VW_Golf_Tuning_in_siber/grau,privat,Angebot,999.0,test,NaN,2017,manuell,90,NaN,150000.0,4,benzin,volkswagen,nein,2016-03-14 00:00:00,0,86157,2016-04-07 03:16:21
68,2016-04-03 17:36:59,Mini_cooper_s_clubman_/vollausstattung_/_Navi/...,privat,Angebot,10990.0,test,NaN,2017,manuell,174,clubman,100000.0,0,NaN,mini,nein,2016-04-03 00:00:00,0,83135,2016-04-05 17:26:26
84,2016-03-27 19:52:54,Renault_twingo,privat,Angebot,900.0,control,NaN,2018,NaN,60,twingo,150000.0,0,NaN,renault,NaN,2016-03-27 00:00:00,0,40589,2016-04-05 18:46:49
113,2016-04-03 14:58:29,Golf_4_Anfaenger_auto,privat,Angebot,1200.0,test,NaN,2017,manuell,75,golf,150000.0,7,NaN,volkswagen,NaN,2016-04-03 00:00:00,0,97656,2016-04-05 14:15:48
164,2016-03-13 20:39:16,Opel_Meriva__nur_76000_Km__unfallfrei__scheckh...,privat,Angebot,4800.0,control,NaN,2018,manuell,0,meriva,80000.0,4,benzin,opel,nein,2016-03-13 00:00:00,0,37627,2016-04-04 16:48:02
197,2016-04-05 10:36:24,VW_Polo_9N_an_Bastler,privat,Angebot,888.0,control,NaN,2017,manuell,64,polo,20000.0,7,NaN,volkswagen,ja,2016-04-05 00:00:00,0,58566,2016-04-07 13:16:13
253,2016-03-27 13:25:18,Ford_mondeo_Gas_anlage_mit_TÃœV_04.2017,privat,Angebot,2250.0,test,NaN,2017,manuell,0,mondeo,150000.0,8,benzin,ford,nein,2016-03-27 00:00:00,0,56575,2016-04-05 15:18:34
348,2016-03-17 20:58:24,VW_Beetle_1.8Turbo_mit_Vollausstattung_und_seh...,privat,Angebot,3750.0,control,NaN,2017,manuell,150,beetle,150000.0,7,NaN,volkswagen,nein,2016-03-17 00:00:00,0,45896,2016-03-24 17:17:50
390,2016-03-25 12:59:06,Fiat_Bertone_X_1_9__X_1/9__X19__X_19__X1_9__X_19,privat,Angebot,7750.0,test,NaN,2018,manuell,76,andere,150000.0,6,benzin,fiat,nein,2016-03-25 00:00:00,0,78239,2016-03-28 12:16:50
438,2016-03-10 20:36:25,VW_Golf_5_V_1.6_2004_Klima_Tempomat,privat,Angebot,4150.0,test,NaN,2017,manuell,102,golf,150000.0,0,benzin,volkswagen,NaN,2016-03-10 00:00:00,0,49377,2016-03-13 03:16:51
453,2016-03-28 13:51:12,Armee_Jeep,privat,Angebot,9800.0,test,NaN,4500,manuell,0,andere,5000.0,0,NaN,jeep,NaN,2016-03-28 00:00:00,0,7545,2016-04-06 17:45:49
454,2016-03-25 09:57:03,Ford_Fiesta_Servo_D3_Kat_86Â€_Steuern_65.000_tkm,privat,Angebot,750.0,test,NaN,2017,manuell,50,fiesta,70000.0,0,benzin,ford,NaN,2016-03-25 00:00:00,0,12207,2016-03-26 19:47:15
457,2016-03-15 17:48:39,Mercedes_Benz_W203_C200_Kombi_Kompressor_c_kla...,privat,Angebot,3000.0,control,NaN,2017,manuell,163,c_klasse,150000.0,8,NaN,mercedes_benz,NaN,2016-03-15 00:00:00,0,40627,2016-03-21 16:49:25
477,2016-03-31 08:53:34,CitroÃ«n_C4,privat,Angebot,3200.0,control,NaN,2017,manuell,88,NaN,125000.0,2,NaN,citroen,nein,2016-03-31 00:00:00,0,12459,2016-03-31 10:41:30
545,2016-03-22 18:50:53,Bmw_x5_/__E53,privat,Angebot,4300.0,test,NaN,2017,automatik,184,x_reihe,150000.0,7,NaN,bmw,ja,2016-03-22 00:00:00,0,56410,2016-03-23 17:27:19
548,2016-03-10 17:44:57,Peugeot_206_1.9_Hdi_4_Tueren_Tuev_02.17,privat,Angebot,1399.0,control,NaN,2017,manuell,90,2_reihe,150000.0,6,NaN,peugeot,nein,2016-03-10 00:00:00,0,48153,2016-03-11 05:44:18
557,2016-03-16 03:36:34,Smart_Fortwo_Passion_MHD,privat,Angebot,4900.0,test,NaN,2017,automatik,71,fortwo,30000.0,4,NaN,smart,nein,2016-03-16 00:00:00,0,25474,2016-03-29 15:47:46
568,2016-03-18 09:48:44,PRIMA_ANFÃ„NGERAUTO_smart_fortwo_cabrio,privat,Angebot,1950.0,control,NaN,2017,automatik,54,fortwo,125000.0,12,NaN,smart,nein,2016-03-18 00:00:00,0,25821,2016-04-01 23:47:20
577,2016-04-03 14:49:09,Volkswagen_Golf_3,privat,Angebot,650.0,test,NaN,2017,manuell,75,golf,150000.0,1,benzin,volkswagen,NaN,2016-04-03 00:00:00,0,91332,2016-04-05 13:47:38
582,2016-03-31 11:57:46,V10_TDI_TOUAREG,privat,Angebot,7300.0,control,NaN,2017,automatik,313,touareg,150000.0,7,NaN,volkswagen,nein,2016-03-31 00:00:00,0,53844,2016-04-02 07:17:28
654,2016-04-01 15:48:34,Ich_verkaufe_meinen_gepflegten_daewoo,privat,Angebot,2000.0,test,NaN,2017,manuell,0,kalos,100000.0,5,benzin,daewoo,NaN,2016-04-01 00:00:00,0,10555,2016-04-07 13:50:05
740,2016-04-02 19:49:46,Seat_Leon_zu_verkaufen!,privat,Angebot,2400.0,control,NaN,2017,manuell,104,leon,150000.0,2,benzin,seat,ja,2016-04-02 00:00:00,0,44267,2016-04-05 08:55:09
754,2016-03-26 13:47:56,Ford_Ka_Kleinwagen_BJ_2008,privat,Angebot,1850.0,control,NaN,2017,NaN,60,ka,125000.0,3,benzin,ford,NaN,2016-03-26 00:00:00,0,42119,2016-03-29 16:16:19
758,2016-03-12 18:42:33,Honda_Civic_mit_TÃœV_!!!,privat,Angebot,1200.0,test,NaN,2017,NaN,90,civic,150000.0,12,benzin,honda,ja,2016-03-12 00:00:00,0,44532,2016-03-17 21:44:42
765,2016-03-26 11:52:53,BMW_3er_Limousine_mit_1_Jahr_TÃœV!!!!,privat,Angebot,1350.0,control,NaN,2017,manuell,0,3er,150000.0,3,benzin,bmw,NaN,2016-03-26 00:00:00,0,22846,2016-04-06 00:15:26
802,2016-03-19 11:37:23,Lada_mit_wenig_km_neuem_Tuev_bj_08,privat,Angebot,2100.0,test,NaN,2018,manuell,0,kalina,150000.0,0,benzin,lada,NaN,2016-03-19 00:00:00,0,12621,2016-03-21 15:20:00
871,2016-04-04 19:38:38,Citroen_C2_60_PS,privat,Angebot,1450.0,test,NaN,2017,manuell,60,c2,150000.0,3,benzin,citroen,ja,2016-04-04 00:00:00,0,46117,2016-04-04 19:38:38
889,2016-03-12 16:52:19,Verkaufe_Opel_Corsa_C_1_2,privat,Angebot,870.0,control,NaN,2017,manuell,75,corsa,150000.0,10,benzin,opel,NaN,2016-03-12 00:00:00,0,94164,2016-03-12 16:52:19
910,2016-03-15 17:52:50,Renault_Kangoo_bj.2007_LPG,privat,Angebot,1500.0,control,NaN,2017,manuell,75,kangoo,150000.0,5,NaN,renault,ja,2016-03-15 00:00:00,0,33659,2016-03-21 16:50:39
918,2016-03-15 15:53:56,BMW_114i_Sondermodell,privat,Angebot,14900.0,control,NaN,2018,manuell,102,1er,40000.0,3,benzin,bmw,nein,2016-03-15 00:00:00,0,24850,2016-03-22 18:45:17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49075,2016-03-18 12:47:25,VW_Golf_2_GT_TÃœV_neu_GTi_G60_16V_Special,privat,Angebot,1399.0,control,NaN,2018,manuell,90,golf,150000.0,1,NaN,volkswagen,NaN,2016-03-18 00:00:00,0,95460,2016-03-29 12:49:02
49076,2016-03-25 21:39:21,Omega_B_2.0_16v_136_Ps,privat,Angebot,1600.0,test,NaN,2017,manuell,0,omega,150000.0,2,benzin,opel,nein,2016-03-25 00:00:00,0,54675,2016-03-28 21:18:59
49108,2016-03-14 22:37:20,TDI_20_L_DIESEL140_PS..AUTOMATICK,privat,Angebot,5500.0,control,NaN,2017,automatik,0,NaN,150000.0,1,NaN,volkswagen,nein,2016-03-14 00:00:00,0,90441,2016-03-15 19:47:17
49130,2016-03-09 18:46:05,Renault_Modus,privat,Angebot,2699.0,test,NaN,2017,manuell,75,modus,150000.0,6,benzin,renault,NaN,2016-03-09 00:00:00,0,47506,2016-03-14 11:46:09
49153,2016-03-12 01:36:59,Corsa_c20xe,privat,Angebot,2500.0,test,NaN,5000,NaN,0,corsa,5000.0,0,NaN,opel,NaN,2016-03-12 00:00:00,0,88214,2016-03-12 22:15:17
49178,2016-03-24 19:58:43,Mazda_323_F_TÃœV__neu_2te_Hand_viele_Neuteile,privat,Angebot,1500.0,control,NaN,2018,manuell,98,3_reihe,150000.0,6,NaN,mazda,nein,2016-03-24 00:00:00,0,41334,2016-03-27 16:47:05
49185,2016-03-28 11:45:31,Alfa_Romeo_156_Sportwagon_1_8_T_Spark,privat,Angebot,1200.0,control,NaN,2019,manuell,140,156,150000.0,5,benzin,alfa_romeo,nein,2016-03-28 00:00:00,0,91058,2016-04-06 13:45:56
49218,2016-04-01 19:48:06,Ford_Fiesta_1.3_4/5_Tuerer_16_Monate_Tuev,privat,Angebot,2750.0,control,NaN,2018,manuell,60,fiesta,125000.0,4,benzin,ford,nein,2016-04-01 00:00:00,0,58089,2016-04-05 16:45:21
49245,2016-03-26 08:32:30,Audi_A3_1.8T_tausch_moegl.,privat,Angebot,3300.0,control,NaN,2017,manuell,150,a3,150000.0,4,NaN,audi,nein,2016-03-26 00:00:00,0,35075,2016-04-05 21:44:36
49259,2016-03-19 18:45:05,Volkswagen_Lupo_TÃœV_06.2017_Klima,privat,Angebot,999.0,test,NaN,2017,manuell,50,lupo,150000.0,0,benzin,volkswagen,NaN,2016-03-19 00:00:00,0,10713,2016-04-07 05:45:32
49261,2016-03-10 12:51:40,Toyota_aygo,privat,Angebot,2800.0,test,NaN,2017,manuell,0,aygo,90000.0,6,benzin,toyota,nein,2016-03-10 00:00:00,0,93055,2016-03-19 19:18:00
49262,2016-03-26 18:31:21,Opel_vectra,privat,Angebot,2000.0,test,NaN,2018,NaN,0,NaN,150000.0,0,NaN,opel,NaN,2016-03-26 00:00:00,0,65549,2016-04-06 18:19:01
49266,2016-03-10 00:54:09,Toyota_Corolla_Verso_7_Sitzer_104.000km_2_2_Di...,privat,Angebot,7699.0,control,NaN,2017,manuell,177,NaN,125000.0,12,diesel,toyota,nein,2016-03-09 00:00:00,0,27751,2016-04-05 19:18:39
49283,2016-03-15 18:38:53,Citroen_HY,privat,Angebot,7750.0,control,NaN,1001,NaN,0,andere,5000.0,0,NaN,citroen,NaN,2016-03-15 00:00:00,0,66706,2016-04-06 18:47:20
49343,2016-03-12 11:56:55,bmw_320i_touring,privat,Angebot,4400.0,test,NaN,2017,manuell,0,3er,150000.0,0,diesel,bmw,NaN,2016-03-12 00:00:00,0,86695,2016-03-25 09:15:38
49347,2016-03-21 20:41:09,Honda_civic_mit_TÃœV_3/2017,privat,Angebot,950.0,control,NaN,2017,manuell,90,civic,150000.0,0,NaN,honda,nein,2016-03-21 00:00:00,0,99439,2016-03-21 20:41:09
49354,2016-04-05 10:31:29,Bmw_e39_523i_mit_neuem_Tuev,privat,Angebot,2499.0,control,NaN,2018,manuell,174,5er,150000.0,8,NaN,bmw,nein,2016-04-05 00:00:00,0,65207,2016-04-05 12:27:15
49389,2016-03-10 07:54:10,Astra_G_CC,privat,Angebot,950.0,control,NaN,2017,NaN,0,astra,150000.0,0,benzin,opel,NaN,2016-03-10 00:00:00,0,33332,2016-03-25 07:17:25
49411,2016-03-28 12:58:19,Renault_twingo_Tuev_neu,privat,Angebot,1550.0,test,NaN,2018,NaN,0,twingo,100000.0,0,NaN,renault,NaN,2016-03-28 00:00:00,0,48739,2016-03-28 13:41:18
49557,2016-03-19 18:42:28,E320_T_cdi_avangart,privat,Angebot,6250.0,test,NaN,2017,automatik,205,e_klasse,150000.0,3,diesel,mercedes_benz,nein,2016-03-19 00:00:00,0,13589,2016-04-07 05:17:42
49561,2016-03-27 11:25:23,Ford_Galaxy_1_8_TDCI_7_Sitze_Paoramadach_DPF_AHK,privat,Angebot,6500.0,test,NaN,2017,manuell,0,galaxy,150000.0,6,NaN,ford,NaN,2016-03-27 00:00:00,0,55128,2016-03-30 13:15:32
49653,2016-03-25 20:50:13,Top_zustand_privat,privat,Angebot,1050.0,control,NaN,2017,manuell,110,scenic,150000.0,8,benzin,renault,nein,2016-03-25 00:00:00,0,34127,2016-03-28 21:19:07
49689,2016-03-14 15:44:53,VW_GOLF_V_1.9,privat,Angebot,4700.0,control,NaN,2017,manuell,105,NaN,150000.0,0,diesel,volkswagen,NaN,2016-03-14 00:00:00,0,22459,2016-03-16 05:45:48
49696,2016-03-08 13:36:21,Audi_A3_1_6_Attraction_mit_TÃœV_10/17,privat,Angebot,1250.0,control,NaN,2017,manuell,101,a3,150000.0,8,benzin,audi,nein,2016-03-08 00:00:00,0,26624,2016-03-08 21:17:30
49731,2016-03-28 13:40:31,Renault_MEGANE_1.6_16V__neu_ZANHRIEMEN_TOP_ZUS...,privat,Angebot,1700.0,test,NaN,2017,manuell,0,megane,150000.0,7,NaN,renault,nein,2016-03-28 00:00:00,0,34123,2016-03-31 21:44:52
49770,2016-03-15 12:54:26,VW_Polo_6n_Tuev_Neu!__1.6_75PS,privat,Angebot,999.0,control,NaN,2018,manuell,75,polo,150000.0,12,benzin,volkswagen,nein,2016-03-15 00:00:00,0,24321,2016-04-06 02:16:02
49796,2016-03-09 09:38:38,Opel_corsa_1.4_zu_verkaufen,privat,Angebot,4500.0,test,NaN,2017,manuell,90,corsa,70000.0,7,benzin,opel,nein,2016-03-09 00:00:00,0,88433,2016-03-17 20:45:08
49841,2016-03-11 15:37:02,Passat_abzugeben.,privat,Angebot,600.0,test,NaN,2017,manuell,101,passat,150000.0,7,NaN,volkswagen,NaN,2016-03-11 00:00:00,0,53804,2016-03-11 16:41:14
49910,2016-04-03 21:39:15,Schoener_fast_neuer_Opel_Mokka_in_Zell_Mosel_m...,privat,Angebot,22200.0,test,NaN,9000,automatik,140,andere,10000.0,3,benzin,opel,NaN,2016-04-03 00:00:00,0,56856,2016-04-05 22:18:26
49935,2016-04-01 21:48:20,Mercedes_A_klasse_angemeldet_mit_Tuef_und_Auto...,privat,Angebot,800.0,test,NaN,2017,automatik,101,a_klasse,150000.0,9,NaN,mercedes_benz,nein,2016-04-01 00:00:00,0,39108,2016-04-01 21:48:20

There appears to be 1774 ads posted that have an incorrect registration year according to our criteria. We can proceed to remove these postings as they will incorrectly influence our analysis.

In [26]:
# Attributing to autos all rows that have a registration year between 1900 and 2016 (included)
autos = autos[(autos["registration_year"] >= 1900) & (autos["registration_year"] <= 2016)] # Using pandas AND statement to make sure both conditions are met

We can now properly calculate thte distribution og the remaining values:

In [27]:
autos["registration_year"].value_counts(normalize=True)

2005    0.066108
2000    0.062669
2004    0.061930
2006    0.061538
2003    0.061330
1999    0.059368
2001    0.058168
2002    0.055836
2007    0.052397
2008    0.050920
2009    0.047965
1998    0.046765
2011    0.037324
2010    0.036609
1997    0.034901
2012    0.030169
1996    0.024744
2016    0.021928
1995    0.019851
2013    0.018397
2014    0.015050
1994    0.011541
2015    0.008402
1993    0.007848
1992    0.007040
1991    0.006763
1990    0.006325
1989    0.003578
1988    0.002978
1985    0.001962
          ...
1966    0.000485
1960    0.000439
1969    0.000439
1975    0.000415
1965    0.000392
1964    0.000254
1963    0.000185
1959    0.000138
1961    0.000138
1958    0.000092
1956    0.000092
1962    0.000092
1937    0.000092
1951    0.000046
1955    0.000046
1954    0.000046
1910    0.000046
1941    0.000046
1957    0.000046
1934    0.000046
1953    0.000023
1950    0.000023
1927    0.000023
1929    0.000023
1931    0.000023
1948    0.000023
1938    0.000023
1939    0.000023
1943    0.000023
1952    0.000023
Name: registration_year, Length: 78, dtype: float64

The most common registration year appears to be 2005 (6.6%). There are a total of 78 unique registration years, several of which are from the early 1900s.

## Exploring Price by Brand

Because we are working with data on cars, it is natural to explore variations across different car brands. We will therefore aggregate the data by brand to explore the prices of the cars listed on the classifield.

The first step is to explore the unique values in the `brand` column:

In [28]:
# Checking unique value counts
print(autos["brand"].value_counts())

# Checking number of unique values
len(autos["brand"].value_counts())

volkswagen        9180
bmw               4983
mercedes_benz     4430
opel              4347
audi              3921
ford              2823
renault           1902
peugeot           1272
fiat              1019
seat               775
skoda              743
smart              655
mazda              650
nissan             650
citroen            613
toyota             581
hyundai            440
sonstige_autos     420
volvo              406
mini               406
honda              338
mitsubishi         335
kia                318
alfa_romeo         287
porsche            278
chevrolet          261
suzuki             256
chrysler           156
dacia              123
jeep               106
land_rover          98
daihatsu            94
subaru              86
saab                72
jaguar              70
daewoo              58
rover               54
trabant             48
lancia              43
lada                26
Name: brand, dtype: int64

40

There are a total of 40 unique brands in the dataset. For the sake of our analysis, we will work with the top 20 brands in the dataset. At first glance, it is evident that the top 3 brands are German brands, as the dataset was pulled from a German website. We can take a look at the top 20 brands:

In [29]:
# Checking top 20 and assigning to variable
brand_top20 = autos["brand"].value_counts().head(n=20).index 

print(*brand_top20, sep='\n')

volkswagen
bmw
mercedes_benz
opel
audi
ford
renault
peugeot
fiat
seat
skoda
smart
mazda
nissan
citroen
toyota
hyundai
sonstige_autos
volvo
mini

We will now aggregate the data on these brands:

In [30]:
# Creating empty dictionary to hold aggregate data
brand_mean_price = {}

for brand in brand_top20: # Looping through the top 20 index created
    key = autos[autos["brand"] == brand] # Creating a subset of the dataframe that contains only the unique brand
    val = key["price"].mean() # Calculating the average price for that brand
    brand_mean_price[brand] = round(val, 2) # Creating new key in the dictionary for the brand in question and assigning the average price rounded to 2 decimal places as a value for that key
    
for k,v in brand_mean_price.items(): # Printing dictionary line by line
    print(k,v)

renault 2819.06
smart 3611.04
fiat 3256.15
audi 9613.65
sonstige_autos 13439.73
nissan 5175.9
volkswagen 5783.62
volvo 5189.42
bmw 8582.26
skoda 6558.12
toyota 5266.97
mazda 4459.27
mini 10691.06
ford 4291.67
opel 3394.04
mercedes_benz 8766.9
hyundai 5686.94
peugeot 3360.92
seat 4810.88
citroen 4012.83

At first glance, we observe that Sonstige Autos, Mini and Audi have the highest average price. Furthermore, the prices range from 3 000 to 14 000. 

When comparing back to the top 6 most popular brands, we see that there is a distinct price gap:

- Audi, BMW and Mercedes Benz are more expensive
- Ford and Opel are less expensive
- Volkswagen is in between

For the top 6 brands, we can use aggregation to understand the average mileage for those cars and if there's any visible link with mean price. 

#### Comparing Average Price and Average Mileage for Top 6 Brands

While a natural instinct may be to display both aggregated series objects and visually compare them, this has a few limitations:

- it's difficult to compare more than two aggregate series objects if we want to extend to more columns
- we can't compare more than a few rows from each series object
- we can only sort by the index (brand name) of both series objects so we can easily make visual comparisons

Instead, we can combine the data from both series objects into a single dataframe (with a shared index) and display the dataframe directly.

Using a similar method as previously used, we can create a dictionary for mean mileage per brand.

In [31]:
# Creating empty dictionary to hold aggregate data
brand_mean_mileage = {}

for brand in brand_top20: # Looping through the top 20 index created
    key = autos[autos["brand"] == brand] # Creating a subset of the dataframe that contains only the unique brand
    val = key["odometer_km"].mean() # Calculating the average mileage for that brand
    brand_mean_mileage[brand] = round(val, 2) # Creating new key in the dictionary for the brand in question and assigning the average mileage rounded to 2 decimal places as a value for that key

We can then convert both the `brand_mean_price` and `brand_mean_mileage` dictionaries into series objects using the [series constructor](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html).

In [32]:
# Converting into series objects
bmp_series = pd.Series(brand_mean_price) # Mean price series

bmm_series = pd.Series(brand_mean_mileage) # Mean mileage series

We can then combine both series objects into a single dataframe using the [dataframe constructor](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) and start comparing the average mileage and prices of each brand.

In [33]:
# Creating dataframe from mean price series object first using dataframe constructor
price_mileage_dataframe = pd.DataFrame(bmp_series, columns=['mean_price']) # Naming column mean_price

# Assign mean mileage series object as new column in the dataframe
price_mileage_dataframe['mean_mileage'] = bmm_series

# Printing top 6 brands we are interested in
price_mileage_dataframe.loc[['volkswagen','bmw','mercedes_benz','opel','audi','ford']]

               mean_price  mean_mileage
volkswagen        5783.62     128234.75
bmw               8582.26     132865.74
mercedes_benz     8766.90     131019.19
opel              3394.04     128012.42
audi              9613.65     128909.72
ford              4291.67     123494.51

When comparing the top 6 most common car brands posted on the classifield, we notice that although there is quite an important difference between each of their average price, their average mileage seem to be within a tight range (12 300 km to 13 300 km).

## Exploring Manual Versus Automatic Cars

We can continue exploring the dataset by looking at the `gearbox` column next. For example, we can check which type of gearbox is most common in this classifield.

In [34]:
autos['gearbox'].head()

0      manuell
1    automatik
2      manuell
3    automatik
4      manuell
Name: gearbox, dtype: object

We observe that the entries in this column are in German. In order to better analyze our data, we can translate them into English.

In [35]:
# Check all unique values
autos['gearbox'].value_counts(dropna=False) # Include NaN entries

manuell      32058
automatik     9661
NaN           1604
Name: gearbox, dtype: int64

Although the translations can be quite intuitive, it is important to carry through with our procedure and translate the German 'automatik' to the English 'automatic' and the German 'manuell' to the English 'manual'.

In [36]:
# Since there are only 2 unique values, we can chain the str.replace method directly without passing through a dictionary
autos['gearbox'] = autos['gearbox'].str.replace('automatik', 'automatic').str.replace('manuell','manual')

# Check unique values once translated
autos['gearbox'].value_counts(dropna=False) # Include NaN entries

manual       32058
automatic     9661
NaN           1604
Name: gearbox, dtype: int64

We notice that there are more than 3 times as many manual transmission cars as there are automatic transmission cars. The next thing we could check is the difference in the price between manual and automatic transmission cars.

In [37]:
# Assigning manual cars to a separate dataframe
manual_autos = autos[autos['gearbox'] == 'manual']

# Assigning automatic cars to a separate dataframe
automatic_autos = autos[autos['gearbox'] == 'automatic']

# Checking difference between manual and automatic car price
print('Manual Cars: \n', manual_autos['price'].describe(), '\n')

print('Automatic Cars: \n', automatic_autos['price'].describe())

Manual Cars:
 count     32058.000000
mean       5083.818672
std        7162.541282
min         500.000000
25%        1350.000000
50%        2990.000000
75%        6500.000000
max      350000.000000
Name: price, dtype: float64

Automatic Cars:
 count      9661.000000
mean      11188.759342
std       13377.690585
min         500.000000
25%        3000.000000
50%        7490.000000
75%       15000.000000
max      345000.000000
Name: price, dtype: float64

We observe that the mean price of automatic transmission cars in this dataset is more than twice as high than that of manual transmission cars. This can be related to 2 factors:

1. Manual transmission cars are generally cheaper than automatic transmission cars, whether bought new or used.
2. There are significantly more manual transmission cars listed for sale than there are automatic transmission cars on this classifield. As a rule of thumb, a higher offer usually reduces the cost of buying a product.

## Exploring Damaged Versus Non-Damaged Cars

Next, we can see if there is a significant difference between the price of cars listed with a damage versus those listed without a damage.

In [38]:
# Exploring the damaged column
autos['unrepaired_damage'].value_counts(normalize=True, dropna=False)

nein    0.761535
NaN     0.156199
ja      0.082266
Name: unrepaired_damage, dtype: float64

We observe that there is over 15% of listings that did not disclaim whether there was any unrepaired damage to the car. We can continue the analysis by excluding these listings. As it was the case previously, the entries in this column are in German, however translating these two words is not necessary for our analysis.

We can now check the difference in price between damaged and undamged cars.

In [39]:
# Assigning undamaged cars to a separate dataframe
undamaged_autos = autos[autos['unrepaired_damage'] == 'nein']

# Assigning damaged cars to a separate dataframe
damaged_autos = autos[autos['unrepaired_damage'] == 'ja']

# Checking difference between manual and automatic car price
print('Undamaged Cars: \n', undamaged_autos['price'].describe(), '\n')

print('Damaged Cars: \n', damaged_autos['price'].describe())

Undamaged Cars:
 count     32992.00000
mean       7339.22848
std       10145.65371
min         500.00000
25%        1950.00000
50%        4300.00000
75%        9300.00000
max      350000.00000
Name: price, dtype: float64

Damaged Cars:
 count     3564.000000
mean      2779.255331
std       3850.159721
min        500.000000
25%        800.000000
50%       1449.500000
75%       3200.000000
max      44200.000000
Name: price, dtype: float64

We observe that the average price of damaged cars is almost 4 times lower than that of undamaged cars. We also observe that the highest priced damaged car costs 44 200, whereas the highest priced undamaged car costs 350 000.

Even though this might seem logical, this means that overall, damaged cars are listed for a much lower price than their undamaged couterparts.

## Conclusion

The goal of this project was to explore and analyze a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

We reached the conclusion that the top 6 most listed car brands vary greatly in their prices. The Mercedes Benz cars were listed for an average price of about 8 800 whereas the Opel cars were listed for about 3 400. Their mileage was not a factor that affected the price of these brands.

Moreover, we observed that there were 3 times as many manual transmission cars than automatic transmission cars listed and that the mean price of automatic transmission cars in this dataset was more than twice as high than that of manual transmission cars.

Finally, we also observed that around 8% of the cars listed had unrepaired damage. The average price of damaged cars wass almost 4 times lower than that of undamaged cars.